.about {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8%;
  justify-content: center;
  .about-div {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;
    .about-picture {
      margin-right: 5%;
    }
    .about-paragraph {
      margin-top: 0;
      font-size: 20px;
    }
  }
}
