nav {
  width:100%;
  z-index: 100000;
  ul {
    display:flex;
    justify-content: space-around;
    background-color: $black;
    margin-top: 0;
    a {
      text-decoration: none;
      color: $white;
      list-style-type: none;
      width: 100px;
      padding: 25px;
      margin-top: 0px;
      transition: all .3s ease-in-out;
      &:hover {
        color: $blue;
      }
      // li {
      //
      // }
    }
  }
}
