.portfolio {
  border: 5px solid $blue;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .slider {
  position:relative;
  display: flex;
  overflow: hidden;
  background-clip: padding-box;
  width: 100%;
  }
}
